.label-outline {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  padding: 4px 10px;
  color: #6c757d;
}

#toggle-view-btn {
  color: #adadad;
  background: none;
  border: none;
  font-size: 0.8rem;
  transition: color 0.2s ease-in-out;
}

#toggle-view-btn:hover {
  color: #F3F3EF;
}

#cards-view .card {
  width: 100%;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}
#cards-view .card .card-img-top {
  width: 100%;
  height: auto;
  position: relative;
}
#cards-view .card .card-img-top::before {
  content: "";
  display: block;
  padding-top: 75%;
}
#cards-view .card .card-img-top img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 16px 16px 0 0;
}
#cards-view .card .card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
#cards-view .card .card-body h1, #cards-view .card .card-body h2, #cards-view .card .card-body h4, #cards-view .card .card-body h5 {
  color: #212529;
}
#cards-view .card .card-body p {
  color: #6c757d;
}
#cards-view .card .card-link {
  text-decoration: none;
  color: inherit;
}
#cards-view .card .card-link:hover .card-arrow {
  background-color: #212529;
  margin-right: 0;
  transition: 0.3s;
}
#cards-view .card .card-link:hover .card-arrow svg {
  transform: translateX(0px);
  fill: #ffffff;
}
#cards-view .card .card-arrow {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s;
}
#cards-view .card .card-arrow svg {
  fill: #212529;
  transition: transform 0.5s ease;
}
#cards-view .card:hover {
  background-color: #f8f9fa;
  transition: 0.3s;
}

.testimonials {
  width: 100%;
  margin-bottom: 20px;
  background-color: #0f0f11;
  border: 1px solid #2e2e2e;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
  margin-bottom: 12px;
  transition: 0.2s;
}
.testimonials .subtitle {
  color: red;
}
.testimonials img {
  width: 60px;
  border-radius: 40px;
  margin-right: 14px;
}
.testimonials .testimonials-body h1, .testimonials .testimonials-body h2, .testimonials .testimonials-body h4, .testimonials .testimonials-body h5 {
  color: white;
  font-weight: 500;
}
.testimonials .card-text {
  margin-top: auto;
  flex-grow: 1;
}
.testimonials:hover {
  background-color: #141416;
  transition: 0.3s;
}

.card-text {
  margin-top: auto;
  flex-grow: 1;
}

.text-gray-10 {
  color: #CFCFCF;
}