body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #22252b, #020202 200px, rgb(2, 2, 2) 100px);
  background-attachment: fixed;
  color: white;
}

.content {
  position: relative;
  z-index: 2; /* Ensures the content stays above the overlay */
}

.navbar-dark {
  background-color: transparent;
}